@model string
<div class="d-flex justify-content-between align-items-center mb-4">
    <a class="btn btn-success" asp-controller="@Model" asp-action="Create"><i class="bi bi-plus-circle me-1"></i> Add New Producer</a>
</div>