
@{
    ViewData["Title"] = "NotFound";
    Layout = "_SecLayout";
}

<div class="not-found-container">
    <div class="not-found-title">404</div>
    <div class="not-found-text">عذرًا، الصفحة التي تبحث عنها غير موجودة</div>
    <a href="@Url.Action("Index", "Movie")" class="not-found-btn">العودة للصفحة الرئيسية</a>
</div>